.btn {
  @apply inline-flex justify-center items-center text-2xl/[calc(7/6)] text-center border transition
  focus-visible:outline-none disabled:cursor-not-allowed disabled:pointer-events-none;
}

.btn--change {
  @apply pt-[4px] pr-[60px] pb-[5px] pl-[58px] font-bold text-[#292929] rounded-[5px] border-[#292929]
  hover:text-chrome-yellow hover:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)]
  focus-visible:text-chrome-yellow focus-visible:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)]
  active:text-[#292929] active:bg-chrome-yellow active:border-transparent
  active:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)];
}

.btn--choose-places {
  @apply w-57 h-9.75 p-1 font-bold text-white bg-chrome-yellow rounded-5 border-transparent
  hover:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] focus-visible:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)]
  active:text-chrome-yellow active:bg-transparent active:border-chrome-yellow active:shadow-none
  disabled:bg-taupe-gray-3.79;
}

.btn--confirm {
  @apply pt-[16px] pr-[74px] pb-[14px] pl-[75px] font-bold uppercase text-white
  bg-chrome-yellow rounded-[5px] border-transparent hover:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)]
  focus-visible:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] active:text-chrome-yellow
  active:bg-transparent active:border-chrome-yellow
  active:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] disabled:bg-taupe-gray-3.79;
}

.btn--find-tickets {
  @apply w-80.75 h-15 p-3.5 font-bold uppercase text-dark-charcoal-3.19 bg-chrome-yellow rounded-5
  border-transparent hover:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)]
  focus-visible:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] active:text-chrome-yellow active:bg-transparent
  active:border-chrome-yellow active:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)];
}

.btn--further {
  @apply w-55.5 h-15 p-3.5 font-bold uppercase text-white bg-chrome-yellow rounded-5 border-transparent
  hover:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] focus-visible:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)]
  active:text-chrome-yellow active:bg-transparent active:border-chrome-yellow
  active:shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] disabled:bg-taupe-gray-3.62;
}

.btn--learn-more {
  @apply w-81.25 h-15 p-3.5 font-bold text-white bg-transparent rounded-5 border-white
  hover:text-raisin-black hover:bg-maximum-yellow-red hover:border-transparent
  focus-visible:text-raisin-black focus-visible:bg-maximum-yellow-red focus-visible:border-transparent
  active:text-raisin-black active:bg-white active:border-transparent;
}

.btn--send {
  @apply w-42.25 h-15 p-3.5 font-normal uppercase text-neutral-200 bg-transparent rounded-3
  border-white hover:text-raisin-black hover:bg-maximum-yellow-red hover:border-transparent
  focus-visible:text-raisin-black focus-visible:bg-maximum-yellow-red focus-visible:border-transparent
  active:text-raisin-black active:bg-white active:border-transparent;
}
