@reference "../../../index.css";

.passengers-info { @apply flex flex-col }

.passengers-info__list { @apply flex flex-col gap-y-7.5 }

.passengers-info__item,
.passengers-info__add-btn {
  @apply bg-white border border-silver shadow-[0_2px_2px_0_rgba(0,0,0,0.25)];
}

.passengers-info__item {}

.passengers-info__add-btn {
  @apply flex justify-between items-end w-full px-6 py-9 text-3xl/[calc(7/6)] font-normal
  text-dark-charcoal-3.19 cursor-pointer after:block after:size-8 after:bg-center after:bg-no-repeat
  after:bg-contain
  after:bg-[url('data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M14.9449%208.46381L14.9449%2014.9449L8.46378%2014.9449C7.86089%2014.9449%207.40871%2015.3971%207.40871%2016C7.40871%2016.6029%207.86089%2017.0551%208.46378%2017.0551L14.9449%2017.0551L14.9449%2023.5362C14.9449%2024.1391%2015.3971%2024.5913%2015.9246%2024.5159L16.0753%2024.5159C16.6782%2024.5159%2017.1304%2024.0637%2017.055%2023.5362L17.055%2017.0551L23.3854%2017.0551C23.9883%2017.0551%2024.4405%2016.6029%2024.4405%2016C24.4405%2015.3971%2023.9883%2014.9449%2023.3854%2014.9449L17.055%2014.9449L17.055%208.46381C17.055%207.86091%2016.6029%207.40874%2016.0753%207.4841L15.9246%207.4841C15.3217%207.4841%2014.8695%207.93628%2014.9449%208.46381Z%22%20fill%3D%22%23FFA800%22%2F%3E%0A%3Ccircle%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2215%22%20stroke%3D%22%23FFA800%22%20stroke-width%3D%222%22%2F%3E%0A%3C%2Fsvg%3E')]
  hover:after:bg-[url('data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M14.9449%208.46381L14.9449%2014.9449L8.46378%2014.9449C7.86089%2014.9449%207.40871%2015.3971%207.40871%2016C7.40871%2016.6029%207.86089%2017.0551%208.46378%2017.0551L14.9449%2017.0551L14.9449%2023.5362C14.9449%2024.1391%2015.3971%2024.5913%2015.9246%2024.5159L16.0753%2024.5159C16.6782%2024.5159%2017.1304%2024.0637%2017.055%2023.5362L17.055%2017.0551L23.3854%2017.0551C23.9883%2017.0551%2024.4405%2016.6029%2024.4405%2016C24.4405%2015.3971%2023.9883%2014.9449%2023.3854%2014.9449L17.055%2014.9449L17.055%208.46381C17.055%207.86091%2016.6029%207.40874%2016.0753%207.4841L15.9246%207.4841C15.3217%207.4841%2014.8695%207.93628%2014.9449%208.46381Z%22%20fill%3D%22%23FFA800%22%2F%3E%0A%3C%2Fsvg%3E')];
}

.passengers-info__btn { @apply self-end mt-25 }
