@reference "../../index.css";

.loading { @apply flex justify-center items-center z-20 h-193.5 bg-shadow-gray }

.loading__container { @apply w-full max-w-150 pt-4 pb-23.5 }

.loading__text {
  @apply mb-30 pr-8.5 text-2xl/[calc(7/6)] font-bold text-center uppercase text-taupe-gray-3.62;
}

.loading__train {
  @apply w-72 h-4 mx-auto pr-px text-base/none text-maximum-yellow-red;
  animation: loading-train 2s linear infinite;
}

.loading__line {
  @apply w-75 h-0.5 mx-auto mt-2 bg-maximum-yellow-red;
  animation: loading-line 2s linear infinite;
}

@keyframes loading-train {
  0% { margin-left: 0; opacity: 0; transform: scale(0.5); }
  47%, 53% { margin-left: 9.75rem; opacity: 1; transform: scale(1); }
  100% { margin-left: 19.5rem; opacity: 0; transform: scale(0.5); }
}

@keyframes loading-line {
  0% { width: 0.625rem; margin-right: 0; opacity: 0; }
  47%, 53% { width: 18.75rem; margin-right: 9.375rem; opacity: 1; }
  100% { width: 0.625rem; margin-right: 37.5rem; opacity: 0; }
}