.order-layout-progress-line {
  --order-layout-progress-line-clip-path: polygon(0% 0%, calc(100% - 37px) 0%, 100% 50%, calc(100% - 37px) 100%, 0% 100%);
  --order-layout-progress-line-right: 0;
  @apply relative bg-[#3e3c41] z-0 before:absolute before:inset-y-0
  before:start-0 before:right-[var(--order-layout-progress-line-right)] before:z-[1]
  before:bg-[var(--color-orange)];
}

.order-layout-progress-line::before {
  clip-path: var(--order-layout-progress-line-clip-path);
}

.order-layout-progress-line__container { @apply relative z-[2] px-[15px] }

.order-layout-progress-line__list { @apply flex gap-x-[35px] }

.order-layout-progress-line__item {
  @apply flex items-center gap-x-[21px] py-[21px] text-3xl/[calc(7/6)] font-bold
  text-white before:content-[attr(data-number)] before:flex before:justify-center before:items-center
  before:size-[56px] before:text-4xl/[calc(7/6)] before:rounded-full before:border-[3px]
  before:border-current;
}

.order-layout-progress-line__icon { @apply w-auto h-[98px] text-[98px]/none text-neutral-200 }
