@import "swiper/css";
@import "swiper/css/pagination";

@reference "../../../index.css";

.root-feedbacks {}

.root-feedbacks__container { @apply px-9.5 pt-38 pb-28.5 }

.root-feedbacks__title { @apply text-4xl/[calc(7/6)] font-medium uppercase }

.root-feedbacks__swiper { @apply mt-18 mb-px }

.root-feedbacks__swiper.swiper {
  --swiper-pagination-bottom: 0;
  --swiper-pagination-bullet-horizontal-gap: calc(var(--spacing) * 1.5);
  --swiper-pagination-bullet-inactive-color: var(--color-neutral-200);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-size: calc(var(--spacing) * 4.5);
  --swiper-pagination-color: var(--color-silver);
}

.root-feedbacks__swiper .swiper-wrapper { @apply items-center mb-40 }

.root-feedbacks__swiper.swiper-horizontal,
.root-feedbacks__swiper.swiper-horizontal > .swiper-pagination-bullets { @apply pr-3 }

.root-feedbacks__swiper-slide { @apply px-0.5 }

.root-feedbacks__item {}
