@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

#root { position: relative }

.header { position: absolute; top: 0; right: 0; left: 0; }

.header__container { padding-right: 258px; padding-left: 258px }

.header__container--logo {
  padding-top: 15px;
  padding-bottom: 7px;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__container--nav { padding-top: 26px; padding-bottom: 33px; background-color: #292929 }

.header__logo {
  font-size: 36px; /* 36px = 6px * 6 */
  font-weight: 900;
  line-height: calc(7 / 6); /* 42px = 6px * 7 */
  color: #e5e5e5;
}

.header__nav {}

.nav { display: flex; column-gap: 83px; }

.nav__item {
  font-size: 30px; /* 30px = 5px * 6 */
  font-weight: 300;
  line-height: calc(7 / 6); /* 35px = 5px * 7 */
  color: #ffffff;
}

.main {}

.section-1 {
  background-image: url("assets/552ec05b23bca029a735fc146cf0ebff.png");
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 411px 233px 0;
}

.section-1__title {
  padding-left: 115px;
  font-size: 72px; /* 72px = 12px * 6 */
  font-weight: 100;
  line-height: calc(7 / 6); /* 84px = 12px * 7 */
  color: #ffffff;
}

.form {background-color: rgba(41, 41, 41, 0.8) }

.section-1__form { padding-top: 79px; padding-left: 28px }
