@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap") layer(base);
@import "tailwindcss";

@theme {
  /*
   * `--animate-*` - Animation utilities like `animate-spin`
   */
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-dialog-content-show: dialog-content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-dialog-overlay-show: dialog-overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
  /*
   * `--color-*` - Color utilities like `bg-red-500`, `text-sky-300`, and many more
   */
  --color-anti-flash-white: rgb(244 243 246);
  --color-cadmium-yellow: rgb(255 245 0);
  --color-chrome-yellow: rgb(255 168 0);
  --color-coquelicot: rgb(255 61 0);
  --color-dark-charcoal: rgb(51 51 51);
  --color-dark-charcoal-3_19: rgb(41 41 41);
  --color-ghost-white-1_64: rgb(247 245 249);
  --color-ghost-white-1_94: rgb(244 242 246);
  --color-magnolia-white: rgb(228 224 233);
  --color-maximum-yellow-red: rgb(255 202 98);
  --color-navajo-white-3_53: rgb(252 220 157);
  --color-navajo-white-5_41: rgb(255 217 143);
  --color-neon-silver: rgb(204 204 204);
  --color-platinum: rgb(230 230 230);
  --color-raisin-black: rgb(45 43 47);
  --color-shadow-gray: rgb(62 60 65);
  --color-silver: rgb(196 196 196);
  --color-spanish-gray: rgb(153 153 153);
  --color-taupe-gray-3_62: rgb(146 143 148);
  --color-taupe-gray-3_79: rgb(145 143 148);
  --color-very-light-green: rgb(178 246 161);
  --color-white-0_8: rgb(251 251 251);
  --color-white-smoke-0_56: rgb(247 246 246);
  --color-white-smoke-0_62: rgb(242 242 242);
  --color-white-smoke-0_81: rgb(249 249 249);
  --color-white-smoke-1_3: rgb(245 244 246);
  --color-xanthous: rgb(253 185 53);
  /*
   * `--radius-*` - Border radius utilities like `rounded-sm`
   */
  --radius-3: 0.1875rem; /* 3px */
  --radius-5: 0.3125rem; /* 5px */

  @keyframes caret-blink {
    0%, 70%, 100% { opacity: 1; }
    20%, 50% { opacity: 0; }
  }
  @keyframes dialog-content-show {
    from { opacity: 0; transform: scale(0.96); }
    to { opacity: 1; transform: scale(1); }
  }
  @keyframes dialog-overlay-show {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

@utility container {
  max-width: 1492px;
  margin-inline: auto;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button { border-color: var(--color-gray-200, currentColor); }

  :root { @apply h-full min-h-screen font-[Roboto] text-dark-charcoal-3.19 }
}
