@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap") layer(base);
@import "tailwindcss";

@theme {
  /*
   * `--animate-*` - Animation utilities like `animate-spin`
   */
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-dialog-content-show: dialog-content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-dialog-overlay-show: dialog-overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
  /*
   * `--border-width-*`
   */
  --border-width-3: 3px;
  --border-width-5: 5px;
  /*
   * `--color-*` - Color utilities like `bg-red-500`, `text-sky-300`, and many more
   */
  --color-anti-flash-white: rgb(244 243 246);
  --color-cadmium-yellow: rgb(255 245 0);
  --color-chrome-yellow: rgb(255 168 0);
  --color-coquelicot: rgb(255 61 0);
  --color-dark-charcoal: rgb(51 51 51);
  --color-dark-charcoal-3_19: rgb(41 41 41);
  --color-ghost-white-1_64: rgb(247 245 249);
  --color-ghost-white-1_94: rgb(244 242 246);
  --color-magnolia-white: rgb(228 224 233);
  --color-maximum-yellow-red: rgb(255 202 98);
  --color-navajo-white-3_53: rgb(252 220 157);
  --color-navajo-white-5_41: rgb(255 217 143);
  --color-neon-silver: rgb(204 204 204);
  --color-platinum: rgb(230 230 230);
  --color-raisin-black: rgb(45 43 47);
  --color-shadow-gray: rgb(62 60 65);
  --color-silver: rgb(196 196 196);
  --color-spanish-gray: rgb(153 153 153);
  --color-taupe-gray-3_62: rgb(146 143 148);
  --color-taupe-gray-3_79: rgb(145 143 148);
  --color-very-light-green: rgb(178 246 161);
  --color-white: rgb(255 255 255);
  --color-white-0_8: rgb(251 251 251);
  --color-white-smoke-0_56: rgb(247 246 246);
  --color-white-smoke-0_62: rgb(242 242 242);
  --color-white-smoke-0_81: rgb(249 249 249);
  --color-white-smoke-1_3: rgb(245 244 246);
  --color-xanthous: rgb(253 185 53);
  /*
   * `--gap-*`
   */
  --gap-4_5: 1.125rem; /* 18px */
  --gap-6_5: 1.625rem; /* 26px */
  --gap-7_5: 1.875rem; /* 30px */
  --gap-8_5: 2.125rem; /* 34px */
  --gap-12_5: 3.125rem; /* 50px */
  --gap-21: 5.25rem; /* 84px */
  --gap-21_5: 5.375rem; /* 86px */
  --gap-29: 7.25rem; /* 116px */
  --gap-30: 7.5rem; /* 120px */
  --gap-39_5: 9.875rem; /* 158px */
  /*
   * `--radius-*` - Border radius utilities like `rounded-sm`
   */
  --radius-3: 0.1875rem; /* 3px */
  --radius-5: 0.3125rem; /* 5px */
  /*
   * `--spacing-*` - Spacing and sizing utilities like `px-4`, `max-h-16`, and many more
   */
  --spacing-4_25: 1.0625rem; /* 17px */
  --spacing-4_5: 1.125rem; /* 18px */
  --spacing-4_75: 1.1875rem; /* 19px */
  --spacing-5_25: 1.3125rem; /* 21px */
  --spacing-5_5: 1.375rem; /* 22px */
  --spacing-6_25: 1.5625rem; /* 25px */
  --spacing-6_5: 1.625rem; /* 26px */
  --spacing-6_75: 1.6875rem; /* 27px */
  --spacing-7_5: 1.875rem; /* 30px */
  --spacing-8_5: 2.125rem; /* 34px */
  --spacing-9_5: 2.375rem; /* 38px */
  --spacing-9_75: 2.4375rem; /* 39px */
  --spacing-10_5: 2.625rem; /* 42px */
  --spacing-10_75: 2.6875rem; /* 43px */
  --spacing-11_5: 2.875rem; /* 46px */
  --spacing-12_5: 3.125rem; /* 50px */
  --spacing-13: 3.25rem; /* 52px */
  --spacing-13_5: 3.375rem; /* 54px */
  --spacing-14_5: 3.625rem; /* 58px */
  --spacing-15: 3.75rem; /* 60px */
  --spacing-15_5: 3.875rem; /* 62px */
  --spacing-16_5: 4.125rem; /* 66px */
  --spacing-17: 4.25rem; /* 68px */
  --spacing-17_5: 4.375rem; /* 70px */
  --spacing-18: 4.5rem; /* 72px */
  --spacing-18_5: 4.625rem; /* 74px */
  --spacing-18_75: 4.6875rem; /* 75px */
  --spacing-19: 4.75rem; /* 76px */
  --spacing-19_5: 4.875rem; /* 78px */
  --spacing-20_5: 5.125rem; /* 82px */
  --spacing-21: 5.25rem; /* 84px */
  --spacing-21_5: 5.375rem; /* 86px */
  --spacing-22: 5.5rem; /* 88px */
  --spacing-22_5: 5.625rem; /* 90px */
  --spacing-23: 5.75rem; /* 92px */
  --spacing-23_5: 5.875rem; /* 94px */
  --spacing-24_5: 6.125rem; /* 98px */
  --spacing-25: 6.25rem; /* 100px */
  --spacing-26: 6.5rem; /* 104px */
  --spacing-27: 6.75rem; /* 108px */
  --spacing-28_5: 7.125rem; /* 114px */
  --spacing-29: 7.25rem; /* 116px */
  --spacing-29_5: 7.375rem; /* 118px */
  --spacing-30: 7.5rem; /* 120px */
  --spacing-30_5: 7.625rem; /* 122px */
  --spacing-31: 7.75rem; /* 124px */
  --spacing-31_5: 7.875rem; /* 126px */
  --spacing-32_5: 8.125rem; /* 130px */
  --spacing-34: 8.5rem; /* 136px */
  --spacing-35: 8.75rem; /* 140px */
  --spacing-35_5: 8.875rem; /* 142px */
  --spacing-37: 9.25rem; /* 148px */
  --spacing-37_5: 9.375rem; /* 150px */
  --spacing-38: 9.5rem; /* 152px */
  --spacing-38_5: 9.625rem; /* 154px */
  --spacing-38_75: 9.6875rem; /* 155px */
  --spacing-39: 9.75rem; /* 156px */
  --spacing-40_5: 10.125rem; /* 162px */
  --spacing-41: 10.25rem; /* 164px */
  --spacing-42_25: 10.5625rem; /* 169px */
  --spacing-45: 11.25rem; /* 180px */
  --spacing-48_5: 12.125rem; /* 194px */
  --spacing-49: 12.25rem; /* 196px */
  --spacing-51: 12.75rem; /* 204px */
  --spacing-51_5: 12.875rem; /* 206px */
  --spacing-55_5: 13.875rem; /* 222px */
  --spacing-57: 14.25rem; /* 228px */
  --spacing-58_5: 14.625rem; /* 234px */
  --spacing-59_5: 14.875rem; /* 238px */
  --spacing-62_5: 15.625rem; /* 250px */
  --spacing-67_5: 16.875rem; /* 270px */
  --spacing-69: 17.25rem; /* 276px */
  --spacing-70: 17.5rem; /* 280px */
  --spacing-75: 18.75rem; /* 300px */
  --spacing-78: 19.5rem; /* 312px */
  --spacing-79: 19.75rem; /* 316px */
  --spacing-80_75: 20.1875rem; /* 323px */
  --spacing-81_25: 20.3125rem; /* 325px */
  --spacing-90: 22.5rem; /* 360px */
  --spacing-102_5: 25.625rem; /* 410px */
  --spacing-107_5: 26.875rem; /* 430px */
  --spacing-127_5: 31.875rem; /* 510px */
  --spacing-150: 37.5rem; /* 600px */
  --spacing-166_5: 41.625rem; /* 666px */
  --spacing-180_5: 45.125rem; /* 722px */
  --spacing-193_5: 48.375rem; /* 774px */
  /*
   * `--z-index-*` - Utilities for controlling the stack order of an element.
   */
  --z-index-1: 1;
  --z-index-2: 2;

  @keyframes caret-blink {
    0%, 70%, 100% { opacity: 1; }
    20%, 50% { opacity: 0; }
  }
  @keyframes dialog-content-show {
    from { opacity: 0; transform: translate(-50%, -48%) scale(0.96); }
    to { opacity: 1; transform: translate(-50%, -50%) scale(1); }
  }
  @keyframes dialog-overlay-show {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

@utility container {
  max-width: 1492px;
  margin-inline: auto;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button { border-color: var(--color-gray-200, currentColor); }

  :root { @apply h-full min-h-screen font-[Roboto] text-dark-charcoal-3.19 }
}
