@reference "../../../../../index.css";

.selection-seats-wagon-details-body { @apply flex }

.selection-seats-wagon-details-body__number {
  @apply flex flex-col items-center mr-auto pt-9 pr-17.5 pb-8 pl-9 text-7xl font-bold
  bg-navajo-white-5.41 after:content-['вагон'] after:-mt-2 after:mr-2.5 after:text-2xl/[calc(7/6)]
  after:font-normal;
}

.selection-seats-wagon-details-body__places { @apply w-62.5 }

.selection-seats-wagon-details-body-places,
.selection-seats-wagon-details-body-price,
.selection-seats-wagon-details-body-services { @apply pt-8.5 }

.selection-seats-wagon-details-body-places,
.selection-seats-wagon-details-body-price { @apply pb-2.5 }

.selection-seats-wagon-details-body-places { @apply px-14.5 }

.selection-seats-wagon-details-body-places__title,
.selection-seats-wagon-details-body-price__title,
.selection-seats-wagon-details-body-services__title,
.selection-seats-wagon-details-body-services__subtitle { @apply text-lg/[calc(7/6)] font-normal }

.selection-seats-wagon-details-body-places__title,
.selection-seats-wagon-details-body-price__title,
.selection-seats-wagon-details-body-services__title { @apply text-taupe-gray-3.62 }

.selection-seats-wagon-details-body-places__title,
.selection-seats-wagon-details-body-price__title { @apply mb-5.5 }

.selection-seats-wagon-details-body-places__title { @apply [&_span]:text-black }

.selection-seats-wagon-details-body-places__item,
.selection-seats-wagon-details-body-price__item { @apply mt-4.5 text-2xl/[calc(7/6)] text-black }

.selection-seats-wagon-details-body-places__item { @apply font-normal [&_span]:font-bold }

.selection-seats-wagon-details-body__price {}

.selection-seats-wagon-details-body-price { @apply px-12.5 }

.selection-seats-wagon-details-body-price__title {}

.selection-seats-wagon-details-body-price__item {
  @apply font-bold after:inline-block after:w-3.5 after:h-4.25 after:ml-3 after:bg-center
  after:bg-no-repeat after:bg-contain
  after:bg-[url('data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2217%22%20viewBox%3D%220%200%2014%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M3.50039%2010.2043C3.50039%2010.7755%203.50039%2011.3354%203.50039%2011.9021C4.95655%2011.9021%206.40805%2011.9021%207.86655%2011.9021C7.86655%2012.471%207.86655%2013.0332%207.86655%2013.6044C6.41272%2013.6044%204.95889%2013.6044%203.50039%2013.6044C3.50039%2014.7401%203.50039%2015.8666%203.50039%2017C2.91466%2017%202.33593%2017%201.74786%2017C1.74786%2015.8712%201.74786%2014.7423%201.74786%2013.6089C1.16213%2013.6089%200.585732%2013.6089%200.00233359%2013.6089C0.00233359%2013.04%200.00233359%2012.4778%200.00233359%2011.9066C0.581065%2011.9066%201.1598%2011.9066%201.74086%2011.9066C1.74086%2011.3377%201.74086%2010.7778%201.74086%2010.2088C1.16213%2010.2088%200.583399%2010.2088%200%2010.2088C0%209.6376%200%209.07545%200%208.50649C0.578731%208.50649%201.15746%208.50649%201.7432%208.50649C1.7432%205.67079%201.7432%202.84189%201.7432%200.00845521C1.7782%200.00618846%201.80154%200.00392171%201.8272%200.00392171C4.1608%200.00392171%206.49439%20-0.00741203%208.82799%200.00845521C10.1745%200.0175222%2011.3459%200.495806%2012.3307%201.3889C13.1568%202.13693%2013.6889%203.0527%2013.8989%204.13167C14.1906%205.63452%2013.8499%207.00591%2012.8931%208.22088C12.2374%209.05505%2011.3809%209.6308%2010.3542%209.95948C9.85244%2010.1204%209.33671%2010.2043%208.80932%2010.2043C7.07546%2010.2066%205.34393%2010.2043%203.61007%2010.2066C3.57507%2010.2043%203.54006%2010.2043%203.50039%2010.2043ZM3.50273%201.70398C3.50273%203.97753%203.50273%206.23975%203.50273%208.50423C3.52839%208.50423%203.5494%208.50423%203.5704%208.50423C5.3206%208.50423%207.07079%208.50876%208.82099%208.49969C9.09168%208.49743%209.36938%208.45889%209.63074%208.39316C11.4813%207.91714%2012.5804%206.14908%2012.1604%204.34248C11.801%202.80109%2010.3868%201.70398%208.75798%201.70398C7.04279%201.70398%205.3276%201.70398%203.6124%201.70398C3.5774%201.70398%203.5424%201.70398%203.50273%201.70398Z%22%20fill%3D%22%23928F94%22%2F%3E%0A%3C%2Fsvg%3E')];
}

.selection-seats-wagon-details-body__services {}

.selection-seats-wagon-details-body-services { @apply px-14.5 pb-13.5 }

.selection-seats-wagon-details-body-services__header { @apply flex gap-x-3.5 }

.selection-seats-wagon-details-body-services__title {}

.selection-seats-wagon-details-body-services__subtitle { @apply uppercase text-silver }

.selection-seats-wagon-details-body-services__items { @apply mt-4.5 }
