@reference "../../index.css";

.route-base-info { @apply flex before:block before:bg-center before:bg-no-repeat before:bg-contain }

.route-base-info__content { @apply text-left }

.route-base-info__train-name { @apply text-2xl/[calc(7/6)] font-bold text-shadow-gray }

.route-base-info__cities { @apply text-base/[calc(18.75/16)] font-normal }

.route-base-info__city-start,
.route-base-info__city-from {
  @apply flex items-baseline gap-x-2 after:block after:w-3.5 after:h-2 after:bg-center
  after:bg-no-repeat after:bg-contain;
}

.route-base-info__city-start {
  @apply text-taupe-gray-3.62
  after:bg-[url('data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%228%22%20viewBox%3D%220%200%2014%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M13.3536%204.35355C13.5488%204.15829%2013.5488%203.84171%2013.3536%203.64645L10.1716%200.464466C9.97631%200.269204%209.65973%200.269204%209.46447%200.464466C9.2692%200.659728%209.2692%200.976311%209.46447%201.17157L12.2929%204L9.46447%206.82843C9.2692%207.02369%209.2692%207.34027%209.46447%207.53553C9.65973%207.7308%209.97631%207.7308%2010.1716%207.53553L13.3536%204.35355ZM0%204.5H13V3.5H0V4.5Z%22%20fill%3D%22%23928F94%22%2F%3E%0A%3C%2Fsvg%3E')];
}

.route-base-info__city-from {
  @apply text-dark-charcoal-3.19
  after:bg-[url('data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%228%22%20viewBox%3D%220%200%2014%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M13.3536%204.35355C13.5488%204.15829%2013.5488%203.84171%2013.3536%203.64645L10.1716%200.464466C9.97631%200.269204%209.65973%200.269204%209.46447%200.464466C9.2692%200.659728%209.2692%200.976311%209.46447%201.17157L12.2929%204L9.46447%206.82843C9.2692%207.02369%209.2692%207.34027%209.46447%207.53553C9.65973%207.7308%209.97631%207.7308%2010.1716%207.53553L13.3536%204.35355ZM0%204.5L13%204.5V3.5L0%203.5L0%204.5Z%22%20fill%3D%22%23292929%22%2F%3E%0A%3C%2Fsvg%3E')];
}

.route-base-info__city-to { @apply text-dark-charcoal-3.19 }
